body {
    background-color: orangered;
}

nav {
    background-color: orange;
    height: 165px;
}

.card-panel {
    background-color: darkorange;
    color: black;
}

nav .brand-logo {
    color: black;
    text-align: center;
    font-family: cursive;
    font-size: 2rem;
    margin-left: 20px;
}

#logo {
    margin-left: 50%;
    text-align: left;
    width: 65px;
    height: 75px;
}

.font {
    color: black;
    max-width: 1000px;
}

.material-icons right {
    color: indianred;
}

button.btn.waves-effect.waves-light {
    color: black;
    background-color: orange;
}

.name-form {
    text-align: center;
}

.h2 {
    font-family: cursive;
}

.lol1 {
    text-align: center;
}

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #000;
    clear: both;
}

#login-name-link {
    color: black;
}
.socialmedia {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.txt{
    font-family: cursive;
    font-size: 3.00rem;
}

#userNameOnList{
    text-align: center;
}
