<template name="Applicationlayout">

    <head>
        <title>Fire</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav role="navigation"  class="nav-wrapper container">
                <img src="http://www.cleanclothes.org/img/m-fire.png/image_preview" id="logo" />
                <div>
                    <a id="logo-container" class="brand-logo">❻❾ FIRE ❻❾</a>

                    <ul class="right hide-on-med-and-down">
                        <li>{{> loginButtons align=right}}</li>
                    </ul>
                </div>
            </nav>
        </header>
        {{> yield}}
        <footer class="lol1">
            <a href="mailto:hragkri@gmail.com"><img src="img/Email.png" alt="Email" class="socialmedia"></a>
            <a href="http://twitter.com/intent/tweet?screen_name=hragkri"><img src="img/Twitter.png" alt="Twitter" class="socialmedia"></a>
            <p>&copy; 2015 Hrag Krikorian</p>
        </footer>
    </body>
</template>