<template name="home">
    {{#if currentUser}}

    <ul>
        <form class="name-form">
            <div class="input-field">
                <input class="font" type="text" name="firstname">
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Send
                <i class="material-icons right">send</i>
            </button>
        </form>
        {{#each posts}}
        <li>{{group}}</li>
        <li>{{username}}:{{name}}</li>
        {{/each}} {{> friends}}

    </ul>
    {{else}}
    <div class="container">
        <div class="section">
            <div class="card-panel">
                <h2 class="h2">Please Sign-up or Log-in to continue.</h2>
            </div>
        </div>
    </div>
    {{/if}}
</template>
<template class="box" name="friends">
    <div class="container">
        <div class="section" style="width: 300px;
                                    margin-left: auto;
                                    margin-right: auto;">
            <div class="card-panel">
                <h2 class="txt">Friends list</h2>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                {{#each listUser}}
                <p id="userNameOnList"> {{username}}</p>
                {{/each}}
            </tr>
        </thead>
    </table>
</template>